<div class="row">
  <div style="font-size: 17px" class="col-lg-offset-2 col-lg-8">
    <h1 class="page-header">Ask the Question: a How-to Guide</h1>

    <p>We're going to make the systemic political corruption caused by money in politics the central issue 
     of the 2016 presidential primary by asking every candidate, <em>“What specific reforms will you advance
     to end the corrupting influence of money in politics?”</em> With their answers, citizens can vote for 
     the candidate they believe will lead on this issue.</p>

    <p>To get those answers, we need your help. Here’s how you can become a Questionr.</p>

    <h3>Why Ask the Question?</h3>

    <p>Our goal is to put pressure on every presidential candidate to have a detailed answer to our question, and a specific solution to the corrupting influence of special interest money in American politics.</p>
    
    <p>If we are successful, the candidates will be asked this question (and related questions) everywhere they go, creating pressure and raising public awareness. By asking repeatedly, we give candidates the opportunity to strengthen their position and provide specific solutions. And if they don’t, we will highlight to voters which candidates don’t have a solution.</p>

    <p>Candidates may evade the question initially, and that’s okay. In time, they will see that evading the question puts them at a competitive disadvantage next to those with clear, compelling solutions. As the issue gets more publicity, voters can support the candidate in their party with the best answer.</p>

    <p>With any luck — and a bit of hard work — the question will be asked again and again as primaries roll across the country, making this a key issue for the presidential debates and ultimately electing a president ready to lead on this issue.</p>

    <h3>1. Sign Up to be a Questionr</h3>
    <p>It’s quick and easy to <a target="_blank" href="http://www.nhrebellion.org/askthequestion">sign up to Ask the Question</a>. And if you’re in New Hampshire, training is available locally.</p>

    <h3>2. Find an Event</h3>
    <p>By <a target="_blank" href="http://www.nhrebellion.org/askthequestion">signing up to be a Questionr</a>, you will receive a weekly email with the week’s upcoming events. This email group is a community of concerned citizens like you. You can exchange ideas and coordinate events to make the biggest impact.</p>

    <p>All supporters get a notification of events we’re tracking that are within 15 miles of their ZIP code.</p>

    <p>And of course, events are listed on our <a target="_blank" href="/events">Questionr.us calendar</a>. If you find out about an event that’s not listed, <%= link_to 'send us a tip', '#', 'data-toggle' => 'modal', 'data-target' => '#tip_modal'%>!</p>

    <h3>3. Prepare</h3>
    <p>After you’ve picked an event, it’s time to prepare.</p>

    <p><strong>Research</strong>. Before the event, investigate the candidate’s position. This will help you find the right approach to the candidate and tailor your question if necessary.</p>

    <p><strong>Rehearse</strong>. Take time to rehearse by yourself or with friends, including practice with a video- or audio-recording device. Take turns with one of you as the questionr and the other as the candidate. This will give you the chance to try different introductions for your question, and practice your follow-up question to ask for specifics.</p>

    <h3>4. Set Up</h3>

    <p><strong>Dress for success</strong>. On the big day, dress above average. As citizens who are concerned about the state of our government, we want to represent ourselves and our cause well.</p>

    <p><strong>Be early &amp; find a spot</strong>. Get there well before the event and find a strategic location. For events with Q&A and a microphone, find a seat near the microphone to be first in line. If there will be Q&A but no microphone, try to sit at the front where the candidate will see and call on you. For events without Q&amp;A, that location might be near an entrance or exit — inside or out — where you can catch the candidate coming and going.</p>

    <p><strong>Set up to record</strong>. If you’re recording the question for your buddy, start recording before they ask their question, and wait until the candidate has moved onto another question before you stop. Being able to see the entire exchange is valuable, and we can always edit out the extra for you later.</p>

    <h3>5. Ask the Question</h3>
    <p>It’s your big moment! Here’s how to ask the question in the most effective way.</p>

    <p><strong>Love</strong>. Start by expressing your gratitude to the candidate for visiting and taking questions. The saying about catching more flies with honey applies to winning candidates to our side as well. “Thank you for visiting our city and taking our questions.”</p>

    <p><strong>Understanding</strong>. Share a short bit of information that shows you understand the issue in a way the candidate can relate to. “As a presidential candidate, you are faced with raising huge amounts of money to be competitive in this race, which takes time away from talking to voters.” or “Members of Congress spend anywhere from 30–70% of their time raising campaign funds, which is time away from serving their constituents.” Keep it short and sweet.</p>

    <p><strong>Question</strong>. Now it’s the time for the question. Simply ask, "What specific reforms will you advance to end the corrupting influence of money in politics?" If necessary, follow up to ensure the candidate is specific about the solution to the problem.</p>

    <p>If you get a disappointing answer, that’s okay! A lousy answer is just as valuable as a good answer. Our goal is to highlight the issue and know where every candidate stands.</p>

    <p>Remember, it is good to have passion about this issue, but it’s vital that you do not come off as confrontational. You want the crowd on your side, which will create more pressure for the candidate to provide a clear answer.</p>

    <h3>Step 6. Upload the Answer</h3>
    <p>From your mobile device or desktop computer, visit <a target="_blank" href="/">Questionr.us</a> and go to Step 3. Share the Answer. Click Upload, fill out the information, choose your video or audio to upload, and click Share. It’s that simple!</p>

    <p>That’s it! By simply asking a question and recording the answer (or evasion), you are helping to change the political dialogue in this country. Thank you for being a part of this critical effort to reclaim our republic.</p>
  </div>
</div>