<div class="col-lg-4">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h1 class="panel-title">1. Find a Candidate</h3>
	  </div>
	  <div class="panel-body">
			<p>Fanny pack Helvetica distillery, chambray letterpress before they sold out 
				migas craft beer Blue Bottle Austin. Heirloom American Apparel fanny pack 
				umami Brooklyn four loko.</p>
	     <input type="text" value="name or postal code" class="form-control" style="margin-bottom:10px"/>
			 <input type="button" value="Search" class="col-lg-offset-7 col-lg-5 btn btn-default"/>
	  </div>
	</div>
</div>

<div class="col-lg-4">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">2. Ask the Question</h3>
	  </div>
	  <div class="panel-body">
			<p>Art party normcore actually, Vice distillery PBR&B readymade. Single-origin 
				coffee before they sold out church-key Bushwick, pug vegan freegan irony 
				meggings heirloom. Shoreditch tofu tattooed cred fashion axe +1 plaid food truck.</p>
				<a class="col-lg-5 col-lg-offset-7" target="_blank" href="https://youtu.be/yuGTg2CLwPc">How To Video</a>
	  </div>
	</div>
</div>

<div class="col-lg-4">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">3. Share</h3>
	  </div>
	  <div class="panel-body">
			<p>Kickstarter mixtape Vice XOXO, slow-carb vegan organic cray Thundercats tofu Williamsburg before they sold out.</p>
		 <%= form_for @statement do |f| %>
		 	<%= f.file_field :s, accept: "video/*", class: "col-lg-5"%>
			<%= f.submit 'Upload', class: 'col-lg-7 btn btn-default' %>
			<p>Crucifix roof party swag retro master cleanse wolf, polaroid sustainable mixtape Tumblr.</p>
				<%= f.submit 'Tip', class: 'col-lg-offset-5 col-lg-7 btn btn-default' %>
		 <% end %>
	  </div>
	</div>
</div>