<div class="col-lg-4">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h1 class="panel-title">1. Find a Candidate</h3>
	  </div>
	  <div class="panel-body">
			<p>Fanny pack Helvetica distillery, chambray letterpress before they sold out 
				migas craft beer Blue Bottle Austin. Heirloom American Apparel fanny pack 
				umami Brooklyn four loko.</p>
	     <input type="text" value="name or postal code" class="form-control" style="margin-bottom:10px"/>
			 <input type="button" value="Search" class="col-lg-offset-7 col-lg-5 btn btn-info"/>
	  </div>
	</div>
</div>

<div class="col-lg-4">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">2. Ask the Question</h3>
	  </div>
	  <div class="panel-body">
			<p>Art party normcore actually, Vice distillery PBR&B readymade. Single-origin 
				coffee before they sold out church-key Bushwick, pug vegan freegan irony 
				meggings heirloom. Shoreditch tofu tattooed cred fashion axe +1 plaid food truck.</p>
				<a class="col-lg-offset-7 col-lg-5" target="_blank" href="https://youtu.be/yuGTg2CLwPc">How To Video</a>
	  </div>
	</div>
</div>

<div class="col-lg-4">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">3. Share</h3>
	  </div>
	  <div class="panel-body">
			<p>Kickstarter mixtape Vice XOXO, slow-carb vegan organic cray Thundercats tofu Williamsburg before they sold out.</p>
			<button type="button" class="col-lg-offset-5 col-lg-7 btn btn-success" data-toggle="modal" data-target="#upload_modal">
				Upload
			</button>
			<p>Crucifix roof party swag retro master cleanse wolf, polaroid sustainable mixtape Tumblr.</p>
			<button type="button" class="col-lg-offset-5 col-lg-7 btn btn-warning" data-toggle="modal" data-target="#tip_modal">
				Tip
			</button>
	  </div>
	</div>
</div>
<%= render 'modal', :modal_id => "upload_modal", :modal_title => "Share Video or Audio", :steps => [1,2,3] %>
<%= render 'modal', :modal_id => "tip_modal", :modal_title => "Share a Tip", :steps => [1,2] %>