<p>Hi Ellen,</p>
<p>Questionr just processed a new event RSVP. Here are the details:
  <ul>
    <li>Event Name: <%= options[:attendee].event_day.event_name %></li>
    <li>Event Day: <%= options[:attendee].event_day.name %></li>
    <li>User: <%= options[:attendee].user_name %></li>
    <li>Notes: <%= options[:attendee].notes %></li>
  </ul>
</p>
<p>Thanks!</p>
<p>The Questionr Team</p>
  